*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.show-list-people{
    border-right: 1px solid gray;
    width: 65%;
}
.flex{
    display: flex;
    justify-content: center;
}
@media(max-width : 500px){
    .flex{
        flex-direction: column;
    }
    .show-list-people{
        border: none;
        width: 100%;
    }
}